* {
  margin: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: calc(100% - 4rem);
}
.footerDos {
  background-color: black;
}

.footerDos .text-light {
  text-align: center;
  margin-top: 10px;
}
